/*@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:900|Monda|Source+Sans+Pro");*/

html, body {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

nav {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    z-index: 1000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Monda', Helvetica, sans-serif;
}

.navbar .navbar-brand {
    font-family: 'Cinzel Decorative', Helvetica, sans-serif;
    color: #9f1600;
    text-shadow: .5px .5px #551600;
}

.banner {
    background: whitesmoke;
    opacity: .8;
    min-height: 25vh;
    top: -500px;
    font-weight: 900;
    padding: 10vh;
}

.text {
    font-weight: 900;
    color: purple;
    text-decoration-color: purple;
}


.parallax {
    background-image: url("../images/jumbotron.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    padding-top: 25vh;
}

#register {
    height: 500px;
    border: solid cornflowerblue 3px;
}